<div class="sign-up-form__wrapper d-flex justify-content-center col-12 pt-5">
    <form action="" class="sign-up-form col-xs-12 col-sm-6 col-md-4 col-lg-3 border rounded pt-4 pb-4">
          <div class="form-group sign-up-form__group col-xs-12 col-md-12 col-lg-12 mb-3">
              <label>Login (e-mail)</label>
              <input type="text" 
                  class="col-xs-12 col-md-12 col-lg-12" 
                  placeholder="JohnDaw@mail.box"
                  ng-model="su.newUser.login" 
                  />
          </div>

          <div class="form-group sign-up-form__group col-xs-12 col-md-12 col-lg-12 mb-3">
              <label>Password</label>
              <input type="password" 
                  class="col-xs-12 col-md-12 col-lg-12" 
                  placeholder="password"
                  ng-model="su.newUser.password" 
                  />
          </div>

          <div class="form-group sign-up-form__group col-xs-12 col-md-12 col-lg-12 mb-4">
              <label>Password (confirm)</label>
              <input type="password" 
                  class="col-xs-12 col-md-12 col-lg-12" 
                  placeholder="password"
                  ng-model="su.newUser.passwordConfirmation" 
                  />
          </div>

          <div class="form-group sign-up-form__group col-xs-12 col-md-12 col-lg-12">
              <button class="btn btn-info col-12" type="button" 
              ng-click="su.addUser()">Sign Up</button>
          </div>
    </form>
</div>