@import '~bootstrap/scss/bootstrap';

.form-group {
    margin-bottom: 0;
}

.input-group-text {
    line-height: 1.55;
}

.table__header__item {
    cursor: pointer;
    color: #555555;
}

.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.tabble__icon {
    font-size: 31px;
    color: #007BFF;
    cursor: pointer;
}