<div class="shadow card">
  <div class="card-body">
    <h5 class="card-title">Weather widget</h5>
    <table class="text-left table table-borderless table-striped">
        <tbody>
          <tr>
            <th scope="row">Temp:</th>
            <td>{{ weatherCtrl.weatherData.temp }}°C</td>
          </tr>
          <tr>
            <th scope="row">Feel like:</th>
            <td>{{ weatherCtrl.weatherData.feelLike }}°C</td>
          </tr>
          <tr>
            <th scope="row">Wind:</th>
            <td>{{ weatherCtrl.weatherData.wind }}m/s</td>
          </tr>
          <tr>
            <th scope="row">Direction:</th>
            <td>{{ weatherCtrl.weatherData.dir }}</td>
          </tr>
          <tr>
            <th scope="row">City:</th>
            <td>{{ weatherCtrl.weatherData.city }}</td>
          </tr>
          <tr>
            <th scope="row">Country:</th>
            <td>{{ weatherCtrl.weatherData.country }}</td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="text" class="form-control" ng-model="weatherCtrl.currentCity" placeholder="Enter location">
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" class="btn btn-dark w-100" ng-click="weatherCtrl.getForecast(weatherCtrl.currentCity)">Get forecast</button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-dark w-100" ng-click="weatherCtrl.getLocal()">Set my location</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
