<div class="card">
  <div class="card-body">
    <h5 class="card-title">Weather widget</h5>
    <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row">Temp:</th>
            <td>{{ weatherCtrl.temp }}</td>
          </tr>
          <tr>
            <th scope="row">Feel like:</th>
            <td>{{ weatherCtrl.feelLike }}</td>
          </tr>
          <tr>
            <th scope="row">Wind:</th>
            <td>{{ weatherCtrl.wind }}</td>
          </tr>
          <tr>
            <th scope="row">Direction:</th>
            <td>{{ weatherCtrl.dir }}</td>
          </tr>
          <tr>
            <th scope="row">City:</th>
            <td>{{ weatherCtrl.city }}</td>
          </tr>
          <tr>
            <th scope="row">Country:</th>
            <td>{{ weatherCtrl.country }}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
