<header class="header bg-primary">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">

      <h3 class="navbar-brand col-md-8">CC App</h3>

      <ul class="navbar-nav col-md-4">
        <li class="nav-item">
          <a class="nav-link" ui-sref="home" ui-sref-active="active">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" ui-sref="converter" ui-sref-active="active">Converter</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" ui-sref="admin" ui-sref-active="active">Admin</a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle menu" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{headerCtrl.firstName}} {{headerCtrl.lastName}}
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#" ui-sref="profile">Profile</a>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="width: 100px;" ui-sref="sign-in" ui-sref-active="active">Sign In</a>
        </li>

      </ul>

    </nav>
  </div>

</header>