.profileContainer {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .card {
    padding: 0px;
    background-color: #F8F8FF;
    .card-body {
      padding-left: 60px;
      .email {
        margin-bottom: 40px;
      }
    }

  }
}
  





