<section class="home-section">
  <div class="jumbotron">
    <div class="container">
      <div class="header-wrapper mb-5">
        <h3>Welcome to this app!</h3>
      </div>

      <div class="table-wrapper col-md-8 mx-auto text-center" ng-if="currentUser">
        <table class="table table-striped">
          <h5 class="mb-3">Successful transactions</h5>
          <thead>
            <tr class="table-row">
              <th custom-sort order="'date'" sort="sort">Date</th>
              <th custom-sort order="'currencyFrom'" sort="sort">Currency From</th>
              <th custom-sort order="'currencyTo'" sort="sort">Currency To</th>
              <th custom-sort order="'rate'" sort="sort">Rate</th>
              <th custom-sort order="'amountFrom'" sort="sort">Amount From</th>
              <th custom-sort order="'amountTo'" sort="sort">Amount To</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-row" ng-repeat="el in data | orderBy:sort.sortingOrder:sort.reverse">
              <td>{{el.date}}</td>
              <td>{{el.currencyFrom}}</td>
              <td>{{el.currencyTo}}</td>
              <td>{{el.rate}}</td>
              <td>{{el.amountFrom}}</td>
              <td>{{el.amountTo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>