<div class='profileContainer col-xs-12 col-md-12 col-lg-12'>

    <div class="card flex-md-row box-shadow h-md-250 col-xs-5 col-md-5 col-lg-5">
        <form name='profile' ng-submit="submitForm(formInfo)" novalidate class="card-body d-flex flex-column">
            <div class="content">
                <div class="editItem title">
                    <h3>Edit profile</h3>
                    <button class="btn btn-outline-info" type="button" ui-sref="profile">Return to profile</button>
                </div>
                <p ng-show="profile.firstName.$error.required" class="alert alert-danger">First name is required.</p>
                <p ng-show="profile.firstName.$error.maxlength" class="alert alert-danger">First name is too long.</p>
                <p ng-show="profile.firstName.$error.pattern" class="alert alert-danger">Must have only latin letters</p>
                <div class="editItem">
                    <p class="item">first name: </p><input ng-class="{ 'has-error' : profile.firstName.$invalid && !profile.firstName.$pristine }"
                        type="text" name='firstName' ng-pattern='/^[A-Za-z]+$/' ng-model='formInfo.firstName' required ng-maxlength='20'>
                </div>
                <p ng-show="profile.lastName.$error.required" class="alert alert-danger">Last name is required.</p>
                <p ng-show="profile.lastName.$error.maxlength" class="alert alert-danger">Last name is too long.</p>
                <p ng-show="profile.lastName.$error.pattern" class="alert alert-danger">Must have only latin letters</p>
                <div class="editItem">
                    <p class="item">last name: </p><input ng-class="{ 'has-error' : profile.lastName.$invalid && !profile.lastName.$pristine }"
                        type="text" name='lastName' ng-pattern='/^[A-Za-z]+$/' ng-model='formInfo.lastName' required ng-maxlength='20'>
                </div>
                <p ng-show="profile.phone.$error.required" class="alert alert-danger">Phone is required.</p>
                <p ng-show="profile.phone.$error.pattern" class="alert alert-danger">Enter a valid phone number, e.g. 380952665723</p>
                <div class="editItem">
                    <p class="item">phone: </p><input ng-class="{ 'has-error' : profile.phone.$invalid && !profile.phone.$pristine }"
                        type="text" name='phone' ng-pattern='/^380[1-9]{1}[0-9]{8}$/' ng-model='formInfo.phone' required>
                </div>
                <p ng-show="profile.email.$error.required" class="alert alert-danger">Email is required.</p>
                <p ng-show="profile.email.$error.minlength" class="alert alert-danger">Email is too short.</p>
                <p ng-show="profile.email.$error.maxlength" class="alert alert-danger">Email is too long.</p>
                <p ng-show="profile.email.$invalid" class="alert alert-danger">Enter a valid email, e.g. vasya@gmail.com</p>
                <div class="editItem">
                    <p class="item">email: </p><input ng-class="{ 'has-error' : profile.email.$invalid && !profile.email.$pristine }"
                        type="email" name="email" ng-model='formInfo.email' required ng-minlength='4' ng-maxlength='30'>
                </div>
            </div>
            <div ng-show="success" class="alert alert-success" role="alert">
                <h5 class="alert-heading">Successfully saved!</h5>
            </div>
            <button class="btn btn-info" type="submit" ng-disabled="profile.$invalid">Save changes</button>

        </form>
        <div class="card-ava">
            <img class="card-img" alt="AVA" style="width: 100%; height: 80%" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_169535021d2%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_169535021d2%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.203125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                data-holder-rendered="true">
            <button class="btn btn-outline-info" type="button">Change ava</button>
        </div>
    </div>
</div>

</div>