<div class='profileContainer col-xs-12 col-md-12 col-lg-12'>

        <form name='profile' ng-submit="submitForm(formInfo)" class="col-xs-9 col-md-8 col-lg-6" novalidate>
            <div class="content col-xs-8 col-md-8 col-lg-8">
                <div class="editItems">
                            <div class="editItem title">
                                <h3>Edit profile</h3>
                                <button class="btn btn-outline-info" type="button" ui-sref="profile">Return to profile</button>
                            </div>
                            <p ng-show="profile.firstName.$error.maxlength" class="alert alert-danger">First name is too long.</p>
                            <p ng-show="profile.firstName.$error.pattern" class="alert alert-danger">Must have only latin letters</p>
            
                            <div class="editItem">
                                <p class="item col-xs-4 col-md-4 col-lg-4">first name: </p><input class='col-xs-8 col-md-8 col-lg-8' ng-class="{ 'has-error' : profile.firstName.$invalid && !profile.firstName.$pristine }"
                                    type="text" name='firstName' ng-pattern='/^[A-Za-z]+$/' ng-model='formInfo.firstName' required ng-maxlength='20'>
                            </div>
                            <p ng-show="profile.lastName.$error.maxlength" class="alert alert-danger">Last name is too long.</p>
                            <p ng-show="profile.lastName.$error.pattern" class="alert alert-danger">Must have only latin letters</p>
            
                            <div class="editItem">
                                <p class="item col-xs-4 col-md-4 col-lg-4">last name: </p><input class='col-xs-8 col-md-8 col-lg-8' ng-class="{ 'has-error' : profile.lastName.$invalid && !profile.lastName.$pristine }"
                                    type="text" name='lastName' ng-pattern='/^[A-Za-z]+$/' ng-model='formInfo.lastName' required ng-maxlength='20'>
                            </div>
                            <p ng-show="profile.phone.$error.pattern" class="alert alert-danger">Enter a valid phone number, e.g. 380952665723</p>
            
                            <div class="editItem">
                                <p class="item col-xs-4 col-md-4 col-lg-4">phone: </p><input class='col-xs-8 col-md-8 col-lg-8' ng-class="{ 'has-error' : profile.phone.$invalid && !profile.phone.$pristine }"
                                    type="text" name='phone' ng-pattern='/^380[1-9]{1}[0-9]{8}$/' ng-model='formInfo.phone' required>
                            </div>
                            <p ng-show="profile.email.$error.minlength" class="alert alert-danger">Email is too short.</p>
                            <p ng-show="profile.email.$error.maxlength" class="alert alert-danger">Email is too long.</p>
                            <p ng-show="profile.email.$invalid" class="alert alert-danger">Enter a valid email, e.g. vasya@gmail.com</p>
            
                            <div class="editItem">
                                <p class="item col-xs-4 col-md-4 col-lg-4">email: </p><input class='col-xs-8 col-md-8 col-lg-8' ng-class="{ 'has-error' : profile.email.$invalid && !profile.email.$pristine }"
                                    type="email" name="email" ng-model='formInfo.email' required ng-minlength='4' ng-maxlength='30'>
                            </div>
                </div>
                <div class="saveChanges">
                    <div ng-show="success" class="alert alert-success col-xs-12 col-md-12 col-lg-12" role="alert">
                        <h5 class="alert-heading col-xs-12 col-md-12 col-lg-12">Successfully saved!</h5>
                    </div>
                    <button class="btn btn-info col-xs-12 col-md-12 col-lg-12 buttonSave" type="submit" ng-disabled="profile.$invalid">Save changes</button>
                </div>

            </div>

            <div class="cardAva col-xs-4 col-md-4 col-lg-4">
                <img type="image" class='ava' ng-src="{{formInfo.ava || 'https://whatsism.com/uploads/posts/2018-07/1530544023_n6fgwzftnvg.jpg'}}">
                <input ng-hide='true' type="file" ng-model='formInfo.ava' ng-click="onFileChanged($event)" id ='fileInput'>
                <label class="btn btn-outline-info changeAva" for='fileInput'>Select image</label>
            </div>
        </form>
</div>