.profileContainer{
  overflow: hidden;
    .card {
      padding: 0px;
      background-color: #F8F8FF;
      .card-body {
        display: flex;
        justify-content: space-between;
        padding-left: 60px;
        .content{
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;
          .editItem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            .item {
              margin-right: 10px;
            }
            p, h3 {
              margin-bottom: 0;
            }
            input {
              padding: 0 15px 0 15px;
            }
            .has-error {
              outline: 0.2px solid #f5c6cb;
            }
          }
          .title {
            margin-bottom: 35px;
          }
          .alert-danger {
            border: none;
            border-radius: 0px;
            padding: 4px 15px;
            margin-bottom: 6px;
            text-align: right;
            background-color: #f8d7da3b;
          }
        }
        .alert-success {
            padding: 5px;
            text-align: center;
            h5 {
              margin: 0;
            }
        }
        .group {
          display: flex;
          justify-content: space-between;
        }
      }
      .card-ava {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 20px 20px 20px;
      }
    }
  }